doctype html
html
  head
    title Trust Pilot Configure Application
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/jquery/jquery.min.js')
    script(src='/javascripts/lib/bootstrap/bootstrap.min.js')    
  body
    block content
