body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.spinner {
    border: 0 none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 50 50'%3E%3Cpath d='M28.43 6.378C18.27 4.586 8.58 11.37 6.788 21.533c-1.791 10.161 4.994 19.851 15.155 21.643l.707-4.006C14.7 37.768 9.392 30.189 10.794 22.24c1.401-7.95 8.981-13.258 16.93-11.856l.707-4.006z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E") center / 50px no-repeat rgba(56, 55, 55, 0.5);
}
.error_msg {
    float: left;
    clear: both;
    bottom: 20px;
    left: 10px;
    position: relative;
}
.tab-field {
    width: 100%;
    max-width: 215px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
    font-weight: 400;
    float: left;
    clear: both;
    box-sizing: border-box;
    padding: 0 5px;
}
.label-margin {
    margin: 1px;
}
.tab-field-label {
    width: 300px;
    font-weight: 700;
    float: left;
    clear: both;
    margin-bottom: 5px;
}
.tab-divider {
    height: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    clear: both;
    border-top: 1px solid #bfbfbf;
    float: left;
    width: 100%;
}
.form-control {
    width: 300px;
}
p {
    font-family: 'Source Sans Pro',sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.tab-holder {
    float: left;
    background-color: #f1f1f1;
    width: 15%;
    height: 100%;
}
.content-holder {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 85%;    
    height: 100%;
    margin-left: -1px;
}
.nav.nav-pills.nav-stacked{
    padding: 0; 
    list-style: none;
    margin: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: white !important;
    color: #00b67a !important;
    border-right: none;
}

.nav-pills>li>a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 10px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 0;
}
.heading {
    display: inline-flex;
    color: white;
    width: 100%;
    padding: 0;
}
.table-data {
    display: inline-flex;
    color: grey;
    width: 100%;
    padding: 0;
    margin: 0;
}
.heading-label {
    border: 1px solid black;
    list-style-type: none;
    background-color: rgba(23, 21, 21, 0.82);
    width: 160px;
    padding-left:10px;
}
.row-data {
    border: 1px solid black;
    list-style-type: none;
    width: 160px;
    padding-left: 10px;    
    word-break: break-word;
}
input, button {
    margin-bottom: 10px;
    margin-right: 10px;
}

#informationSubmit{
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.13), 0 0 12px 0 hsla(0,0%,100%,.1);
    margin: 10px;
    width: 56px;
    height: 48px;
    background-color: #00b67a;
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5rem;
}
#getCountry {
    width: 200px;
}

#image-holder{
    display: table-cell;
    text-align: center;
    vertical-align: top;
    height: 300px;
    width: 400px;
    padding: 35px 31px;
    border: 0;
}
#image-holder img{
    background: #000032;
    padding: 10px 15px;
}
#paragraph-holder {
    min-width: 300px;
    float: left;
    clear: both;
    width: 50%;
    margin-right: 50px;
}
#error_warning {
    display: none;
}
#informationSubmit{
	width:100px;
}
.heading-wrapper{
    margin-top: 20px;
}
.heading-wrapper.bottom{
    margin-bottom: 20px;
}

#tab-information{
    padding-bottom: 35px;
}

